<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin info</title>
</head>
<body>
<h2>My info</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>

<br>
<p><a href="/logout">Logout</a></p>
</body>
</html>